# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Generated output files
prediction_result.json

# Logs
*.log

# Python build files
build/
dist/
*.egg-info/

# pytest
.pytest_cache/

# mypy
.mypy_cache/